body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif; 
    box-sizing: border-box;
    font-size: 16px; /* Base font size */
    color: #171717; /* Default text color */
}

*, *::before, *::after {
    box-sizing: border-box; /* Ensures padding and border are included in element's total width and height */
}

.normal-page {
    width: 100%;
    min-height: 100vh;
}

/*Side by Side Layout*/
.flex-page{
    display: flex; /* Key for side-by-side layout */
    width: 100%;
    min-height: 100vh;
}

.primary-btn {
    width: 100%; /*Change size when needed in specific page css*/
    padding: 12px;
    background-color: #1c5db7; /* Example button color */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.primary-btn:hover {
    background-color: #ffffff; 
    color: #1c5db7; /* Change to white with blue text on hover */
    border: #1c5db7 1px solid; /* Add border on hover */
}

.inverse-primary-btn {
    width: 100%; /*Change size when needed in specific page css*/
    padding: 12px;
    background-color: #1c5db7; /* Example button color */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.inverse-primary-btn:hover {
    background-color: #ffffff; 
    color: #1c5db7; /* Change to white with blue text on hover */
    border: #1c5db7 1px solid; /* Add border on hover */
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.input-group input[type='text'],
.input-group input[type='password'],
.input-group input[type='email'],
.input-group input[type='tel'],
.input-group input[type='number'] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

.input-group input[type='text']:focus,
.input-group input[type='password']:focus,
.input-group input[type='email']:focus,
.input-group input[type='tel']:focus,
.input-group input[type='number']:focus {
    outline: none;
    border-color: #1c5db7; /* Match left side color or use a primary color */
    box-shadow: 0 0 0 2px rgba(58, 58, 118, 0.2);
}

.header {
  background-color: white;
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position:relative;
  left: 5%;
  font-size: 1.8rem;
  font-weight: bolder;
  color: #2b50ec;
}

.nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size:1.2rem;
}

.login-button {
  position:relative;
  right: 5%;
  display: inline-block;
  background-color: #2b50ec;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.2rem;
  text-decoration: none;
}